main {
  padding: 20px;
}

code {
  color: black;
  background-color: white;
  border: none;
}

.code-font {
  font-family: monospace;
}

.tight {
  margin: 0;
  padding: 0;
}

.yellow {
  background-color: rgb(255, 255, 0, 0.3);
  border: 1px solid rgb(255, 255, 0, 0.3);
}

.gray {
  background-color: lightgray;
  border: 1px solid lightgray;
}

button {
  margin-top: 2px;
  margin-bottom: 0px;
  border: none;
}

.space-below {
  margin-bottom: 50px;
}

.row {
  margin-top: 10px;
}

.even {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admit {
  background-color: transparent;
  color: red;
}

.block code,
pre {
  display: inline;
}
